body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--body-primary);
}

h1 {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 4.6rem;
    color: var(--text-primary);
}

.wrapper {
    width: 1440px;
    margin: auto;
}

.text-caption {
    text-transform: uppercase;
    color: var(--primary);
    font-size: 1.6rem;
    letter-spacing: .12rem;
    font-weight: 700;
}

.text-body {
    font-size: 1.6rem;
    color: var(--text-primary);
    font-weight: 400;
}

.text-body-2{
    font-size: 1.6rem;
    color: var(--text-secondary);
    font-weight: 400;
}

.text-emphasize {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-primary);
}

.page {
    padding: 50px 0;
}