/* Chrome, Safari, Edge, Opera */
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.quantity input[type=number] {
    -moz-appearance: textfield;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--shadows);
    border-radius: 8px;
    padding: 12px;
}

.quantity button{
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.quantity input{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    width: 80%;

}